<div id="report_ticketsByUser" class="hide1">
    <div class="tru-card full-height" data-offset="25">
        <h6 style="display: inline-block; padding: 15px; margin: 0; font-size: 14px;">Tickets Weekly Report</h6>
        <div class="uk-float-right">
            <!--<button class="btn md-btn-flat-success md-btn-small md-btn md-btn-flat md-btn-wave md-btn-wave-light"-->
            <!--style="margin: 10px 15px 0 0; font-size: 14px !important;">-->
            <!--Generate-->
            <!--</button>-->
            <!--<button class="btn md-btn-flat-primary md-btn-small md-btn md-btn-flat md-btn-wave md-btn-wave-light"-->
                    <!--style="margin: 10px 15px 0 0; font-size: 14px !important;">-->
                <!--Need Help?-->
            <!--</button>-->
        </div>
        <hr class="nomargin">
        <div class="tru-card-content">
            <hr class="uk-margin-large-bottom" />
            <form action="#" class="uk-form-stacked sel_report_tickets" id="report_ticketsWeeklyReport_form">
                <div class="uk-margin-medium-bottom">
                    <div class="uk-float-right">
                        <button class="md-btn md-btn-success md-btn-wave" type="submit" ng-click="submitGenerateReport($event, 'weekly_report');">Generate</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>