version: 2.1
executors:
  docker-publisher:
    environment:
      IMAGE_NAME: diasbytes/support-tickets
      IMAGE_VERSION: 1.0.11
    docker:
      - image: circleci/buildpack-deps:stretch
  node-tester:
    docker:
      - image: circleci/node:10.16.3
jobs:
  build:    
    executor: docker-publisher
    working_directory: ~/repo

    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: docker build -t $IMAGE_NAME:$IMAGE_VERSION .
      - run:
          name: Archive Docker image
          command: docker save -o image.tar $IMAGE_NAME
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar

  publish:
    executor: docker-publisher
    steps:
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived Docker image
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Public Docker Image to Docker Hub
          command: |
            echo "D1ASBytes!" | docker login -u "roydiasbytes" --password-stdin
            docker push $IMAGE_NAME:$IMAGE_VERSION
workflows:
  version: 2
  test-build-deploy:
    jobs:
      - build:
          filters:
            branches:
              only: master
      - publish:
          requires:
            - build
          filters:
            branches:
              only: master