<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Weekly Report</title>
    <style>
        h1,h2,h3,h4,h5,h6 {
            margin-bottom: 2px;
        }
        hr {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            background: #ccc;
            height: 3px;
            border: none;
        }
    </style>
</head>
<body>
    <div>
        <h2>DiasBytes Support</h2>
        <br/>
        <h4>Weekly report in attachment</h4>
        <br/>
        <hr/>
        <br/>
        <p></p>
    </div>
</body>
</html>